@if (stickerDetail()) {
<div class="sticker-detail-container">
  <div class="sticker-list-table">
    <div class="sticker-detail-name">
      <h5>{{stickerDetail()?.name}} - <span>{{stickerDetail()?.description}}</span></h5>
      <button class="adding-sticker-btn" (click)="openAddStickerDialog()">
        <i class="material-icons">add_circle</i>
        <span>Thêm Sticker</span>
      </button>
    </div>
    <div class="scrollable-sticker-list">
      <div class="container-fluid mt-3">
        <div class="row g-3">
          @if (stickerItems().length > 0) {
            @for (stickerItem of stickerItems(); track stickerItem.id) {
              <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="sticker-list-item" (click)="onStickerClicked(stickerItem.id)">
                  <img [src]="stickerItem.path" alt="{{stickerItem.name}}" class="img-fluid" />
                  <i (click)="deleteSticker(stickerItem.id); $event.stopPropagation()" class="material-icons">close</i>
                </div>
              </div>
              }
          } 
          @else { 
            <div class="no-sticker-box">
              <div class="no-sticker-box-container">
                <mat-icon class="no-sticker-icon">folder_open</mat-icon>
                <h4>No Stickers Available</h4>
                <p>Looks like this category doesn’t have any stickers yet.</p>
              </div>
            </div>
          }
          
        </div>
      </div>
    </div>
  </div>
</div>
}
@else {
<div class="no-sticker-container">
  <mat-icon class="no-sticker-icon">insert_emoticon</mat-icon>
  <h2>No Sticker Selected</h2>
  <p>Please select a sticker from the list to view its details.</p>
</div>
}
