<div class="header-content">
  <app-header></app-header>
</div>
<div class="sidebar-content">
  <app-sidebar></app-sidebar>
</div>
<div class="main-content">
  <div class="tools-buttons-container">
    <button (click)="onCreateDialog()" class="add-sticker-btn">
      <mat-icon>playlist_add</mat-icon>
      <span>Tạo sticker</span>
    </button>

  </div>
  <!--main content -->
  <div class="main-content-row">
    <div class="content-left col-lg-5">
      <app-sticker-table
        (stickerSelected)="onStickerSelected($event)"
      >

      </app-sticker-table>
    </div>
    <div class="content-right col-lg-7">
      <app-sticker-detail
        [stickerId]="selectedStickerid()"
      >

      </app-sticker-detail>
    </div>
  </div>

</div>
