<div class="header-content">
  <app-header></app-header>
</div>
<div class="sidebar-content">
  <app-sidebar></app-sidebar>
</div>
<div class="main-content">
  <div class="tools-buttons-container">
    <button (click)="onCreateDialog()" class="add-sticker-btn">
      <mat-icon>playlist_add</mat-icon>
      <span>Tạo sticker</span>
    </button>

  </div>
  <!--main content -->
  <div class="main-content-row">
    <div class="content-left col-xl-5 col-lg-5 col-md-5 col-sm-6 col-12">
      <app-sticker-table
        (stickerChoosen)="onStickerSelected($event)"
        [newStickerId]="activeStickerId()!"
      >

      </app-sticker-table>
    </div>
    <div class="content-right col-xl-7 col-lg-7 col-md-7 col-sm-6 col-12">
      <app-sticker-detail
        [stickerDetail]="selectedSticker()!"
      >
      </app-sticker-detail>
    </div>
  </div>

</div>
