
.create-sticker-header {
    border-bottom: 1px solid #434343;
    height: 48px;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
    h5 {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: -20px;
        margin-top: -30px;
    }
}

:host {
    display: block;
    padding: 24px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #292929;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px; // spacing between form fields
}

.full-width {
    width: 100%;
}

mat-form-field {
    border-radius: 4px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}

button[mat-button] {
    min-width: 100px;
    padding: 5px 40px;
    border-radius: 4px;
    color: white;
}
#createSitckerSubmitBtn {
    background-color: #3595de;
}
#cancelCreateStickerBtn {
    border: 1px solid white;
    
    &:hover {
        background-color: #7b8190;
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 4px;
    overflow: hidden !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.sticker-upload-input mat-label{
    color: white;
}
.sticker-upload-input {
    input { 
        display: none;
    }
}
.sticker-upload-add-icon {
    width: 100%;
    background-color: #00d26a;
    display: flex;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}
.sticker-upload-add-icon i{
    margin: auto;
    color: white;
}
.file-preview {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.file-preview mat-label{
    color: white;
}
.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 13px;

    button {
        background: none;
        border: none;
        color: red;
        cursor: pointer;
        font-size: 14px;
    }
}