.sidebar-container {
    background-color: #424242;
    width: 44px;
    height: 100%;
    text-align: center;
    color: white;
    border-right: 1px solid #292929;
    padding-top: 5px;
}
.sidebar-icon-item {
    padding-top: 10px;
    cursor: pointer;
    margin: 0px 3px;
    border-radius: 5px;
    &:hover {
        background-color: #333333;
    }
}