.sidebar-container {
    background-color: #424242;
    width: 44px;
    height: 100%;
    text-align: center;
    color: white;
    border-right: 1px solid #292929;
}
.sidebar-icon-item {
    padding-top: 10px;
}