
.edit-sticker-header {
    border-bottom: 1px solid #434343;
    height: 48px;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
    h5 {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: -20px;
        margin-top: -30px;
    }
}

:host {
    display: block;
    padding: 24px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #292929;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px; // spacing between form fields
}

.full-width {
    width: 100%;
}

mat-form-field {
    border-radius: 4px;
}

.edit-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}
button[mat-button] {
    min-width: 100px;
    padding: 5px 40px;
    border-radius: 4px;
    color: white;
}

#editSitckerSubmitBtn {
    background-color: #3595de;
}
#cancelEdittickerBtn {
    border: 1px solid white;
    
    &:hover {
        background-color: #7b8190;
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 4px;
    overflow: hidden !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}